<!-- <app-header></app-header> -->
<mat-list>
        <mat-list-item > <span >Electronic</span> <span>Fashion</span></mat-list-item>

        <mat-divider></mat-divider>

<mat-grid-list class="card" cols="4" rowHeight="400">
  <mat-grid-tile *ngFor="let item of productList">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{item.image}}">
        <mat-card-content>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>

          <p><strong>Price: {{item.price}}</strong></p>
          <select name="pQuantity" [(ngModel)]="pQuantity" id="" class="form-control" >
            <option selected value="1"  class="text-primary">1</option>
            <!-- <option value="1">1</option> -->
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>


        </mat-card-content>


        <!-- <mat-select formControlName="pQuantity" [(ngModel)]="pQuantity" placeholder="Quantity">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
        </mat-select> -->




        <mat-card-actions >
          <!-- <button mat-button color="primary">Add To Cart</button> -->
          <button mat-raised-button (click)="addtoCart(item,pQuantity)"  color="primary">Add To Cart</button>    <!--  ==>click event    -->
        </mat-card-actions>
      </mat-card>
  </mat-grid-tile>

</mat-grid-list>

</mat-list>
