
table {
    margin: 10px auto;
    width: 80%;
  }
table, th, td {
    border-spacing: 0px;
  }
  .example-card {
    max-width: 600px;
    margin: 0 auto; 
    float: none; 
    margin-top: 100px;
    margin-bottom: 100px;
  }