mat-toolbar{
    display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
a{
    text-decoration: none;
    color: yellow;
}
.form-controls{
  border-radius: 2px;
  width: 600px;
  margin-left: 20px;
height: 30px;
}
.icon{
  position:absolute;
  z-index: 10;
  right: 40%;
  color: blue;
}
