<mat-toolbar color="primary">
    <mat-icon>local_shipping</mat-icon>
   <span style="margin-right: 60%;">Chip-Cart</span>
   <span style="margin-right:5%;">Login</span>
   <span style="margin-right:5%;">More</span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with shoppingcart icon">
     <mat-icon>shopping_cart_rounded</mat-icon>
   </button>

 </mat-toolbar>

<!--
 <h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let Iproduct of list" [value]="Iproduct.title">
      {{Iproduct.title}}
    </mat-option>
  </mat-select>
</mat-form-field> -->
