mat-list-item span{
    margin: 10px ;
}
   /* mat-grid-list {
  padding-top: 20px;
  margin-top: 10px ;

} */
.example-card {
    max-width: 200px;
    text-align: center;
  /* position: relative;
  background-size: cover; */
  }

  mat-card-header{
    overflow: hidden;
    text-align: center;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width: 100ch;

    /* inline-size: 150px; */
    /* overflow-wrap: break-word; */
/*
    white-space: normal;
white-space: nowrap;
white-space: pre;
white-space: pre-wrap;
white-space: pre-line;
white-space: break-spaces; */

  }
   .card{
    padding: 20px;
    margin: 20px;

  }
  .card img {

    max-width: 150px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;

}
.card img:hover {

  transform: scale(1.1);
}
/* button {
  background-color: blueviolet;
} */

  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */
