.category-card {
margin: 10px 15% auto;
}

.category-card button {
  margin-right: 10px;
}

.product-container{
    width: 90%;
    margin: auto;  
}

.card{
    display: inline-block;
   margin: 10px;
}
  
.example-card {
  padding: 0%;
  margin: 0%;
  max-height: 500px;
    max-width: 200px;
    text-align: center;
}

mat-card-header{ 
    overflow: hidden;
    text-align: center;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width: 100ch; 
}

.card img {
    max-width: 150px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transform: scale(1.1);
}

.card button{
    margin-bottom: 10px;
}